* 

{
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body{
    width: 100%;
    overflow-x: hidden;
  }
  body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-text-size-adjust: 100%;
    width: 100%;
  }

 /* ===== cánh hoa rơi ===== */
  #petal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 999;
  }
  
  .petal {
    width: 10px;
    height: 8px;
    position: absolute;
    top: -10%;
    background: radial-gradient(circle at 30% 30%, #ffd6e0, #f4a6b9);
    border-radius: 60% 20% 50% 60%;
    opacity: 0.8;
    animation: fall linear infinite;
  }
  
  @keyframes fall {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 0;
    }
    10% {
      opacity: 0.9;
    }
    100% {
      transform: translateY(120vh) rotate(360deg);
      opacity: 0.9;
    }
  }
  

 /* ===== INTRO CỬA ĐỎ SANG TRỌNG ===== */
 #door-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: #000;
}

/* ===== CỬA ===== */
.door {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(180deg, #7b0f0f, #4a0707);
  transition: transform 1.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.door.left { left: 0; }
.door.right { right: 0; }

/* ===== ½ HÌNH TRÒN DẬP NỔI ===== */
.seal {
  position: absolute;
  top: 50%;
  width: 90px;
  height: 90px;
  background: radial-gradient(circle at top, #ffd977, #c89b2c);
  box-shadow:
    inset 0 2px 6px rgba(255,255,255,.35),
    inset 0 -4px 10px rgba(0,0,0,.35),
    0 10px 20px rgba(0,0,0,.45);
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* cắt hình tròn */
.seal.left {
  right: -45px;
  border-radius: 50% 0 0 50%;
}

.seal.right {
  left: -45px;
  border-radius: 0 50% 50% 0;
}

/* ===== CHỮ HỶ ===== */
.seal span {
  font-size: 38px;
  font-weight: bold;
  color: #8b0000;
  text-shadow:
    0 1px 0 #ffe9a6,
    0 3px 6px rgba(0,0,0,.35);
}





  
  /* ===== TRANG BÌA ===== */

  .bg-blur {
    position: fixed;
    inset: 0;
    background: url("img/anh1.jpg") center/cover no-repeat;
    filter: blur(0px);
    transform: scale(1.1); /* tránh viền bị cắt */
    z-index: -2;
    will-change: transform;
  }

  .bg-blur::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(80, 69, 86, 0.45);
  }


  .cover {
    position: relative;
    height: 100vh;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    overflow: hidden;

    background: 
    linear-gradient(rgba(80,69,86,0.45), rgba(80,69,86,0.45)),
    url("img/anh4.jpg") center / cover no-repeat;
  }
  
  .title {
    font-family: 'Great Vibes', sans-serif;
    font-size: 50px;
    color: white;
    margin-bottom: 16px;
    margin-top: 10px;
  }
  
  .photo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    position: relative;
    padding-bottom: 10px;
  }
  .photo img {
    width: 100%;
    max-width: 360px;
    border-radius: 20px;
    margin: 10px auto;
    height: auto;
    display: block;
  }
  
  .names {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    margin-bottom: 16px;
  }
  
  .date {
    color: #f0f0f0;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .open-btn {
    position: absolute;
    bottom: 5px;

    padding: 14px 30px;
    border-radius: 30px;
    border: none;
    background: white;
    font-size: 15px;
    cursor: pointer;
  }
  
  /* ===== PHONG THƯ ===== */
  .envelope {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #490B0B;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    display: flex;
    /*left: 0;z-index: 1;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    background: #490B0B;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* ẨN DƯỚI MÀN HÌNH */
  }
  
  /* KHI BẤM MỞ 
  .envelope.show {
    transform: translateY(0);
  }*/
  
  .letter {
    width: 100%;

    border-radius: 18px;

    text-align: center;
    animation: fadeUp 1.2s ease;
    padding-bottom: 40px;
  }
  
  .letter h2 {
    font-weight: normal;
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 25px;
    
  }
  .letter h1 {
    font-weight: normal;
    font-family: 'Great Vibes', sans-serif;
    color: #FFE167;
    font-size: 40px;
    
  }

  .letter h3   {
    font-weight: normal;
    font-family: 'Great Vibes', sans-serif;
    color: white;
    font-size: 25px;
    margin-bottom: 24px;
  }

  .subtitle {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .tham {
    font-size: 22px;
    font-style: italic;
    color: #f3c46b;
    margin: 10px 0;
    margin-top: 40px;
  }
  
  .couple-name {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  /* 2 ảnh cưới */
  .couple-wrap {
    display: flex;
    gap: 12px;
    margin-bottom: 70px;
    
  }
  
  .person {
    flex: 1;
  }
  
  .person img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
  }
  
  .person h4 {
    font-size: 20px;
    color: #f3c46b;
    margin: 10px 0 6px;
    font-family: 'Great Vibes', sans-serif;
    font-size: 26px;
    padding-top: 10px;
  }
  
  .person p {
    font-size: 10px;
    line-height: 1.4;
    margin: 0;
    color: white;
    font-family: 'Playfair Display', serif;
    padding-top: 10px;
  }
  
  .address {
    margin-top: 6px;
    font-family: 'Playfair Display', serif;
    color: white;
  }
  
  /* Footer */
  .footer-text {
    font-size: 16px;
    margin-top: 16px;
    line-height: 1.6;
    color: white;
    font-family: 'Playfair Display', serif;
  }


  
  
  
  .info {
    margin: 16px 0;
  }
  
  .thanks {
    margin-top: 20px;
    font-style: italic;
  }
  
  .wedding-info {
    background: #490B0B;
    color: #f5e6c8;
    text-align: center;
    padding: 40px 16px;
    position: relative;
    width: 100%;
    z-index: 1;
  }
  
  .wedding-info h2 {
    font-size: 24px;
    margin-bottom: 8px;
    font-family: 'Playfair Display', serif;
    color: white;
    font-style: normal;
  }
  
  .date-time {
    color: #f3c46b;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
  }
  
  /* Countdown */
  .countdown {
    display: flex;
    justify-content: center;
    gap: 42px;
    margin-bottom: 24px;
    font-family: 'Playfair Display', serif;
    color: white;
    line-height: 1.2;
  }
  
  .time-box span {
    display: block;
    font-size: 45px;
    font-weight:400;
  }
  
  .time-box small {
    font-size: 10px;
  }
  
  /* Quote */
  .quote {
    color: #f3c46b;
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 24px;
    font-family: 'Great Vibes', sans-serif;
    padding-top: 16px;
  }
  
  /* Map */
  .map-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    margin: 0 auto 16px;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 12px;
    margin-top: 100px;
    background: white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
  }
  
  .map-wrap iframe {
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 0%;
    pointer-events: none;
    display: block;
  }
  
  .map-link-wrap{
    display: block;
    text-decoration: none;
  }
  /* Address */
  .address {
    font-size: 13px;
    margin-bottom: 36px;
  }

  /* animation khi scroll */
.fade-section {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1.2s ease;
  }
  
  .fade-section.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .map-btn {
    display: inline-block;
    margin: 16px auto 24px;
    padding: 12px 22px;
    background: #f3c46b;
    color: #4b0f0f;
    text-decoration: none;
    font-size: 14px;
    border-radius: 999px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .map-btn:hover {
    background: #ffd98a;
    transform: translateY(-2px);
  }

  /* ===== ALBUM ẢNH ===== */
.album {
  background: #f5f5f5;
  text-align: center;
  padding: 40px 16px;
}

.album h2 {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  margin-bottom: 6px;
  color: #000;
}

.album-sub {
  font-size: 14px;
  color: #000;
  margin-bottom: 24px;
  font-family: 'Playfair Display', serif;
}

/* Lưới ảnh */
.album-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
  width: 100%;
}

/* Ảnh đầu full ngang */
.album-item:first-child {
  grid-column: span 2;
  object-fit: cover ;
}

.album-item:first-child img {
  aspect-ratio: 16 / 9;
}

/* Ảnh */
.album-item {
  border-radius: 16px;
  overflow: hidden;
  background: #eee;
  opacity: 100%;
  transform: translateY(40px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.album-item.show { 
  opacity: 1;
  transform: translateY(0);
}

.album-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  aspect-ratio: 3 / 4; /* DÁNG ẢNH CƯỚI */
  transition: transform 0.4s ease;
  cursor: pointer;
  object-fit: cover;
}

/* Hover nhẹ (PC) */
.album-item:hover img {
  transform: scale(1.05);
}

/* Fade mặc định */

/* Khi hiện */
.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}


/* ===== LIGHTBOX ===== */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.lightbox.active {
  opacity: 1;
  pointer-events: auto;
}

.lightbox img {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 16px;

  transform: scale(0.95);
  transition: transform 0.3s ease;
}

.lightbox.active img {
  transform: scale(1);
}

/* ===== REVEAL TEXT ===== */
.reveal {
  opacity: 0;
  transform: translateY(16px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 420px) {
  .map-wrap {
    height: 280px;
  }

  .quote {
    font-size: 22px;
  }
}

/* ===== QR ===== */

.wish-section {
  padding: 40px 20px;
  text-align: center;
  background: #eeeeee;
}

.wish-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-bottom: 20px;
}

/* Card */
.wish-card {
  width: 100%;
  max-width: 260px;
  background: #fff;
  border-radius: 12px;
  padding: 20px 16px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.wish-desc {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #000;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

/* Khung trắng chứa ảnh */
.photo-frame{
  width: 100%;
  background: #fff;
  border-radius: 12px;
  padding: 8px;
  margin-bottom: 6px;
}

/* Ảnh cưới */
.photo-frame img {
  width: 100%;
  height: 160px;
  object-fit: cover;   /* giống hình bạn gửi */
  border-radius: 8px;
  display: block;
}

/* Tên */
.wish-name {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 6px;
  font-weight: 600;
  font-family: 'Playfair Display', serif;
}

/* Nội dung */
.wish-text {
  font-size: 12px;
  color: #555;
  font-family: 'Playfair Display', serif;
}

.thanks-section {
  text-align: center;
  padding: 48px 24px 56px;
  font-family: 'Great Vibes', sans-serif;
  background: #490B0B;
}

.thanks-title {
  color: #f3c46b;
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 4px;
  font-family: 'Playfair Display', serif;
  margin-top: 40px;
}
.ngang{
  color: #f3c46b;
  font-family: 'Playfair Display', serif;
  margin-bottom: 18px;
}

.thanks-text {
  font-size: 24.5px;
  line-height: 1.5;
  max-width: 420px;
  margin: 0 auto 24px;
  opacity: 0.95;
  font-weight: 0;
  font-family: 'Great Vibes', sans-serif;
  font-style:normal;
  color: #fff;
}

.thanks-sign {
  font-style:normal;
  margin-bottom: 56px;
  font-size: 18px;
  color: #fff;
}

.thanks-footer {
  font-family: 'cursive';
  font-size: 30px;
  color: #f3c46b;
  font-family: 'Great Vibes', sans-serif;
}

.music-btn {
  position: fixed;
  bottom: 18px;
  left: 16px;
  width: 46px;
  height: 46px;
  border-radius: 50%;

  background: #eee;
  color: #ffd27d;
  font-size: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 9999;

  box-shadow: 0 6px 16px rgba(0,0,0,0.3);

  /* ẨN BAN ĐẦU */
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: all 0.5s ease;
}

/* Khi hiện */
.music-btn.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

/* ICON NỐT NHẠC */
.music-icon {
  font-size: 22px;
  display: inline-block;
}

/* Khi đang phát thì xoay */
.music-btn.playing .music-icon {
  animation: spin-note 9s linear infinite;
}

@keyframes spin-note {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}




  /* ===== ANIMATION ===== */
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

/* ================= MOBILE FIX ================= */
@media (max-width: 768px) {

  .cover {
    padding: 20px 18px 20px;
    min-height: auto;
  }

  .photo img {
    width: 100%;
    height: 45vh;           /* giảm chiều cao ảnh */
    object-fit: cover;
    border-radius: 24px;
  }

  .open-btn {
    margin-top: 20px;
    position: relative;
    z-index: 2;
  }

}
